@model _21century.Models.Manufacturer

@{
    ViewBag.Title = string.Format("Создание производителя | {0}", _21century.Constants.TITLE);
}

<p>@Html.ActionLink("Отмена", "GetShortName", new { shortName = string.Empty })</p>
<h2>Создание производителя</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Создать" />
}