@model _21century.Models.Manufacturer

@{ 
    ViewBag.Title = "Удаление невозможно";
}

<p>@Html.ActionLink("К списку", "GetShortName", new { shortName = string.Empty})</p>
<h2>Удаление невозможно</h2>
<span style="color:red">Сначала удалите товары, ссылающиеся на этого производителя</span>

@if (Model != null && Model.Products.Count > 0)
{
    <ul>
        @foreach(var item in Model.Products)
        {
            <li>@Html.ActionLink(item.Name, "GetShortName", new { shortName = item.ShortName}, null)</li>
        }
    </ul>
}