@model _21century.Models.Manufacturer

@{
    ViewBag.Title = string.Format("Удаление производителя | {0}", _21century.Constants.TITLE);
}

<p>@Html.ActionLink("Отмена", "Details", new { id = Model.ID })</p>
<h2 style="color:Red">Вы уверены, что хотите удалить этого производителя?</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}

<p style="font-weight:bold">@Model.Name</p>
<p>@Model.Description</p>