@model _21century.Models.Manufacturer

@{
    ViewBag.Title = string.Format("Редактирование производителя | {0}", _21century.Constants.TITLE);
}

<p>@Html.ActionLink("Отмена", "GetShortName", new { shortName = Model.ShortName })</p>
<h2>Редактирование производителя</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
}