@model IEnumerable<_21century.Models.Manufacturer>

@{
    ViewBag.Title = string.Format("Производители | {0}", _21century.Constants.TITLE);
}

<h2>Производители</h2>

<p>@Html.ActionLink("Создать", "Create")</p>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Details", new { id = item.ID })</li>
    }
</ul>