@{ 
    ViewBag.Title = string.Format("Личная страница | {0}", _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home", new {@style="color: #847f7f;" })
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    Личная страница
</p>

<h2 style="color: #ffffff">Личная страница</h2>

<p>@Html.ActionLink("Сменить пароль", "ChangePassword", "Account", new {@style="color: #4cff00;" })</p>