@{ 
    ViewBag.Title = string.Format("Личная страница | {0}", _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home")
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    Личная страница
</p>

<h2>Личная страница</h2>

<p>@Html.ActionLink("Сменить пароль", "ChangePassword", "Account")</p>