@{
    ViewBag.Title = "О нас";
}
<h2 style="color:#ffffff; padding-bottom: 20px">@ViewBag.Title</h2>
<div style="color: #cac7c7">
    <p>Работая на мебельном рынке, <b style="color: #4cff00">Фасад Стандарт</b> заняла одно из лидирующих мест по производству мебельных фасадов. Мы дорожим нашей репутацией и постоянно расширяем не только <text style="color: #4cff00">@Html.ActionLink("ассортимент нашей продукции", "GetShortName", "Product", new { shortname = string.Empty }, null)</text>, а и усовершенствуем ее качество.</p>

    <p>За годы работы, на мебельном рынке, мы накопили много производственного опыта, в изготовлении мебельных фасадов; нарастили технологические мощности для изготовления различных видов фасадов разнообразили их цветовую гамму добавили множество новинок и радиусные фасады.</p>

    <p>Известность и популярность среди производителей мебели, наша продукция заслужено приобрела благодаря неизменному качеству мебельных фасадов, большому выбору цветов (от обычных до экзотических). А индивидуальный подход к каждому Заказчику - как к своему партнеру, создаст для Вас наиболее благоприятные условия для сотрудничества.</p>

    <p>Сотрудничество с нами принесет выгоду и позитивный настрой. <b style="color: #4cff00">Наша фабрика</b> предлагает своим партнерам по бизнесу различные формы экономических взаимоотношений, обоюдно выгодных для всех заинтересованных сторон.</p>

    <p>Именно мебельные фасады формируют общее впечатление от увиденной вами мебели. Наши фасады, удовлятворят любые ваши запросы и вкусы.</p>
</div>