@model pittools.Models.Product

@{
    ViewBag.Title = "Удаление невозможно";
}

<p>@Html.ActionLink("К списку", "GetShortName", new { shortname = string.Empty })</p>
<h2>Удаление невозможно</h2>
<span style="color:Red">Удаление невозможно</span>