@{
    ViewBag.Title = string.Format("Благодарим за заказ | {0}", _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home")
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    Благодарим за заказ
</p>

<h2>Благодарим за заказ</h2>