@{
    ViewBag.Title = "Контакты";
}
<h2 style="color:#ffffff; padding-bottom: 30px">@ViewBag.Title</h2>
<div style="float: right">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5b9fd8aac9fc1984b95490ed785a6d757e0715bbd781ee84afaad75f470be53e&amp;width=800&amp;height=520&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

<div style="padding-bottom: 30px">
    <h4 style="color: #ffffff; text-align:center; padding-bottom: 6px">Отправить нам сообщение</h4>
    <p style="color: #ffffff">Имя<input type="text" name="name" size="30" maxlength="30" style="margin-left:33px" /></p>
    <p style="color: #ffffff">Email<input type="text" name="email" size="30" maxlength="30" style="margin-left:26px" /></p>
    <p style="color: #ffffff">Email<input type="text" name="email" size="30" maxlength="30" style="margin-left:26px" /></p>
    <p style="color: #ffffff">Тема<input type="text" name="theme" size="30" maxlength="30" style="margin-left:28px" /></p>
    <p style="color: #ffffff">Текст<textarea name="memo" cols="32" rows="6" id="text" style="margin-left:27px; color: #000000"></textarea></p>
    <button type="button" class="btn btn-primary" style="margin-left:64px; width: 250px;">Отправить</button>
</div>

<address style="color: #ffffff">
    <h6><p><b>Шоу-рум:</b> д.Цнянка, ул.Дзержинского, д.16А</p>
    <p><b>Склад:</b> г.Минск, Большое Стиклево, 126 ТЦ"Яркий"</p>
    <p><b>A1/Viber:</b> +375 (044) 7-236-236, +375 (29) 16-99-400</p>
    <p><b>MTS:</b> +375 (29) 7-236-236</p>
    <p><b>Email:</b> <a href="mailto: 7236236@gmail.com">7236236@gmail.com</a></p>
    <p><b>Соц.сети:</b><a href="https://www.instagram.com/fasad_standart/"> Instagram</a></p></h6>
</address>