@model _21century.Models.Category

@{
    ViewBag.Title = "Удаление невозможно";
}

<p>@Html.ActionLink("К списку", "Index", "Home", new {@style="color: #808080;" })</p>
<h2 style="color: #ffffff">Удаление невозможно</h2>