@model pittools.Models.Manufacturer

@{
    ViewBag.Title = string.Format("Удаление производителя | {0}", pittools.Constants.TITLE);
}

<p>@Html.ActionLink("Отмена", "Details", new { id = Model.ID })</p>
<h3 style="color:Red">Вы уверены, что хотите удалить этого производителя?</h3>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}

<p style="font-weight:bold">@Model.Name</p>
<p>@Model.Description</p>