@model IEnumerable<pittools.Models.Manufacturer>

@{
    ViewBag.Title = string.Format("Производители | {0}", pittools.Constants.TITLE);
}

<h2>Производители</h2>

<p>@Html.ActionLink("Создать", "Create")</p>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(item.Name, "Details", new { id = item.ID })</td>
        <td st yle="padding-left:30px;">@Html.ActionLink("Вверх", "Up", new { id = item.ID })</td>
        <td st yle="padding-left:30px;">@Html.ActionLink("Вниз", "Down", new { id = item.ID })</td>
    </tr>
}
</table>